{% extends "./base.html" %}

{% block title%}Gestion de Usuarios{%endblock%}


{% block body%}


<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
     <h2>Gestion de Usuarios</h2>
    <div class="card">
        <div class="card-body">
         <form action="./registrarUsuario" method="POST"> {% csrf_token %}
         <div class="form-group">
            <input type="text" name="txtCodigo" id="txtcodigo" class="form-control" placeholder="Codigo" minlength="6" maxlength="6" required>
         </div>   
         <div class="form-group">
            <input type="text" name="txtNombre" id="txtNombre" class="form-control" placeholder="Nombre"  maxlength="50" required>
        </div>  
                  <div class="form-group">
            <input type="text" name="txtMail" id="txtMail" class="form-control" placeholder="Mail" maxlength="50" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn-success btn-block text-blue">Guardar</button>
    </div>
    </form>
  </div>
   
    </div>   
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Usuarios</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombe</th>
                        <th>Mail</th>
                    </tr>
                    
                </thead>
                <tbody>
                 {% for c in Usuarios %}  
                 <tr>
                    <td>{{c.codigo}}</td>
                    <td>{{c.nombre}}</td>
                    <td>{{c.mail}}</td>
        
                 </tr> 
                 {% endfor%}
                </tbody>
            </table>
            
        </div>
    </div>   

</div>
{% endblock %}
